.container {
  margin: 2em;
}

.online {
  background: #009688;
}

.offline {
  background: #757575;
}

md-list md-list-item.md-2-line .md-list-item-text p {
  color: white;
}

md-list md-list-item.md-2-line .md-list-item-text h3 {
  color: #B0BEC5;
}

.md-no-sticky {
  background: #01579B;
  color: white;
}

html, body {
  background-color: #EEEEEE;
}

@media screen and (max-width: 960px) {

    .md-toolbar-tools {
        font-size: 12px;
    }

    .container {
        margin: 0;
    }
}
